body{
  margin: 0;
  background-color: #D3E4CD;
}

h1{
  margin-top: 0;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 6px;
  width: 4%;
}

p{
  color: #FCF8E8;
}

.headermodule{
  background-color: #7C9473;
  width: auto;
}

.photosgrid{
  background-color: #D3E4CD;
}

.photosgrid img:hover{
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
      z-index: 10;
      -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    border: solid 1px black;
}

.photosgrid img:active {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -o-transform: scale(1.5);
      transform: scale(1.5);
      z-index: 10;

}
